 /*START GENERAL CSS FOR BACKEND*/
 @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css";
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

 * {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

 body {
   font-size: 16px;
   background: white;
   margin: 1px 0px 0px 0px;
   background: linear-gradient(
       90deg,
       rgb(254, 255, 253) 0%,
       rgb(134, 182, 194) 50%
     );
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   letter-spacing: -0.035em;
   margin: 0px 0px 10px 0px;
 }

 h1 {
   font-size: 2.5em;
 }

 h2 {
   font-size: 1.8em;
   color: #414141;
 }

 h3 {
   font-size: 1.5em;
 }

 img,
 p,
 a {
   margin: 0px;
 }

 a {
   color: black;
   text-decoration: none;
 }

 a:hover,
 a:focus,
 a:active {
   color: grey !important;
 }

 button {
   font-size: 0.8em;
   text-transform: uppercase;
   padding: 5px 10px;
   margin: 0px;
   background: #f3f3f3;
   border: 1px solid rgba(0, 0, 0, .12);
   border-radius: 5px;
 }

 button:hover {
   cursor: pointer;
 }

 .header-content,
 .body-content,
 .footer-content {
   height: auto;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0px 15px;
 }

 .header-section {
   background: #fff;
   border-bottom: 1px solid rgba(0, 0, 0, .12);
   height: auto;
   padding: 18px 0px;
 }

 .header-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .platform-logo {
   width: auto;
   max-width: 250px;
   height: auto;
   max-height: 50px;
 }

 .header-nav .nav-icon {
   color: #414141;
   font-size: 1.5em;
   margin: 0px 8px;
 }

 .header-nav .nav-icon:hover {
   color: #cbf436;
 }

 .body-root {
   min-height: 85.3vh;
 }

 .body-section {
   padding: 100px 0px;
 }

 .body-content {
   display: flex;
 }

 .sidebar {
   width: 27%;
   min-width: 200px;
   height: auto;
 }

 .main {
   width: 73%;
   height: auto;
 }

 .sidebar-menu {
   display: flex;
   flex-direction: column;
   padding-top: 5px;
 }

 .sidebar-menu .menu-item {
   color: #a8a8a8;
   font-size: 1em;
   font-weight: 700;
   text-transform: uppercase;
   width: auto;
   max-width: 180px;
   margin-bottom: 18px;
   display: flex;
   align-items: center;
 }

 .sidebar-menu .menu-icon {
   font-size: 1.2em;
   text-align: center;
   width: 35px;
   margin-right: 12px;
 }

 .main-container {
   background: rgb(235, 234, 234);
   border: 1px solid rgba(0, 0, 0, .12);
   border-radius: 5px;
   padding: 25px 30px;
   margin-bottom: 15px;
   opacity: 0.92;
 }

 .msh-logo {
   width: auto;
   max-width: 150px;
 }

 @media (max-width: 480px) {
   h1 {
     font-size: 2em;
   }

   h2 {
     font-size: 1.6em;
   }

   h3 {
     font-size: 1.3em;
   }

   button {
     font-size: 0.9em;
   }

   .header-content {
     justify-content: center;
   }

   .platform-logo {
     max-width: 225px;
   }

   .header-nav {
     display: none;
   }

   .body-root {
     min-height: 74.5vh;
   }

   .body-section {
     padding: 15px 0px;
   }

   .body-content {
     flex-direction: column;
   }

   .sidebar {
     width: 100%;
   }

   .main {
     width: 100%;
   }

   .sidebar-menu {
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-bottom: 2px;
   }

   .sidebar-menu .menu-item {
     width: 48%;
     margin-bottom: 15px;
   }

   .sidebar-menu .menu-icon {
     margin-right: 6px;
   }

   .main-container {
     padding: 15px 20px;
     margin: 0px -16px 15px;
     border-radius: 0px;
   }
 }

 /*END GENERAL CSS FOR BACKEND*/
 /*START CSS FOR CREATE BLOG PAGE*/
 form {
   padding-top: 10px;
 }

 label {
   display: block;
   font-size: 0.9em;
   padding-bottom: 5px;
 }

 input,
 textarea,
 select {
   font-size: 0.9em;
   width: 100%;
   margin: 0;
   padding: 10px 8px;
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, .12);
   border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }

 input,
 select {
   height: 40px;
 }

 input:focus,
 textarea:focus,
 select:focus {
   outline: none;
 }

 .form-field {
   margin-bottom: 14px;
 }

 .form-field.short input,
 .form-field.short select,
 .form-field.short textarea {
   max-width: 250px;
 }

 .form-field.medium input,
 .form-field.medium select,
 .form-field.medium textarea {
   max-width: 450px;
 }

 input[type="checkbox"] {
   height: 20px;
   width: 20px;
 }

 .form-field.checkbox {
   display: flex;
 }

 .form-field.checkbox label {
   padding: 1px 0px 0px 3px;
 }

 input[readonly] {
   background: #f3f3f3;
 }

 button.publish,
 button.update {
   background: rgb(77, 77, 77);
   border-color: rgb(77, 77, 77);
   color: white;
 }

 .new-post-actions,
 .edit-post-actions {
   display: flex;
   margin-top: 25px;
 }

 .new-post-actions button,
 .edit-post-actions button {
   font-size: 0.9em;
   height: 40px;
   padding: 5px 15px;
   margin-right: 6px;
 }

 .field-6 {
   padding-top: 2px;
 }

 #grid_header{
margin: 0 auto;
max-width: calc(100% - 4em);
width: 80em;
padding-top: 20px;

}
#grid_header {
display: grid;
}
#grid_header a {
text-decoration: none;
color: white;
}
#grid_header ul li {
list-style: none;
padding: 0 10px;
float:left;
}
.header_top {
font-size: 15px;
padding-left: 65%;
}
#foot{
margin-top: 70PX;
margin-left: 40px;
padding-bottom: 2%;
padding-left: 1%;
color: rgb(131, 131, 131);
}
a:link {
  color : rgb(131, 131, 131);
}
a:visited {
  color : rgb(131, 131, 131);
}

.banddy{
font-weight: bold;
font-size: 60px;
margin-left: 45px;
margin-bottom: 50px;
margin-top: 50px;
padding: 10px;
color: white;
text-shadow:5px 5px 15px rgb(255, 254, 254); 
}
 /*END CSS FOR CREATE BLOG PAGE*/